<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exams</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        function newExam() {
            window.location.href = window.location.href.replace("exams", "choose_exam_type");
        }
    </script>
</head>

<body>
<input type="button" onclick="newExam()" title="New exam" value="New exam"/>
    <table>
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="examConfigurations" type="com.db.mathservice.data.ExamConfiguration"*/-->
        <tr th:each="examConfiguration : ${examConfigurations}">
            <td th:text="${examConfiguration.title}">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</body>
</html>