<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exams</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="new_exam.html">Create new exam template</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="examConfigurations" type="com.db.mathservice.data.ExamConfiguration"*/-->
        <tr th:each="examConfiguration : ${examConfigurations}">
            <td th:text="${examConfiguration.id}">&nbsp;</td>
            <td th:text="${examConfiguration.title}">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</body>
</html>