<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New exam template</title>
    <script type="text/javascript" th:src="@{/js/table_script.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>
<label>
    <input type="text" id="exam_title" placeholder="Enter exam title"/>
</label>
<form id="constraints" name="constraints">
    Enter a b c <br/>
    <input type="text" name="expression" id="expression" placeholder="Configuration"/>
    <input type="number" name="amount" id="amount" placeholder="Amount"/>
    <br/>
    <input type="button" onclick="onClick()" id="submit" value="OK"/>
    <br/>
</form>
<input type="button" onclick="send_exam()" id="save_exam" value="Save exam"/>

<div id="wrapper">
    <table align="center" cellspacing="2" cellpadding="5" id="data_table" border="1">
        <tr>
            <th>#</th>
            <th>Configuration</th>
            <th>Amount</th>
        </tr>

    </table>
</div>

</body>
</html>